* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  text-align: center;
}


/* barra di navigazione */

header nav {
  padding: 5px;
}

ul li {
  list-style-type: none;
}

.navigazione {
  padding-left: 50px;
}

.navigazione ul li {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

.navigazione ul li, #logo img {
  padding-top: 5px;
}

#bottone-sign-up {
  padding-top: 0;
}

.navigazione ul li a {
  text-decoration: none;
  color: #0c2454;
  font-weight: bold;
}

.navigazione ul li a:hover {
  color: #0069ff;
}

#bottone-sign-up button {
  border: 1px solid #0069ff;
  border-radius: 3px;
  color: #0069ff;
  background: transparent;
  padding: 5px;
  font-weight: bold;
}

#bottone-sign-up button:hover {
  color: white;
  background-color: #0069ff;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0!important;
}

main {
  padding-top: 50px;
}

/* sezione uno */
#sezione-uno {
  background-image: url(img/sfondo-uno.jpg);
}

#sezione-uno h1 {
  color: white;
  font-weight: bold;
}

#sezione-uno p {
  color: #bbcdff;
}
/* parte dati sezione uno */
#dati {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

#dati h4 {
  color: #0069ff;
}

#dati h3, #dati h4, #dati h6 {
  font-weight: bold;
}

#dati button {
  width: 100%;
  font-size: 12px;
  border-radius: 3px;
}

#bottone-create button {
  color: white;
  background-color: #0069ff;
  border: #0069ff;
  margin-bottom: 5px;
}

#bottone-create button:hover {
  background-color: #1633FF;
}

#bottone-sign button {
  background-color: white;
}

#bottone-sign button:hover {
  background-color: #F4F4F5;
}

#bottone-sign img {
  float: left;
  width: 5%;
  margin-left: 1%;
}

#bottone-sign span {
  float: left;
  width: 87%;
}

#dati h6 {
  font-size: 11px;
}

#dati h6 span a {
  text-decoration: underline;
}

/* sezione customers */
#sezione-customers {
  background-color: #F3F5F9;
}

#sezione-customers h5 {
  color:  #555555;
  font-weight: bold;
  opacity: 0.6;
}

#loghini {
  line-height: 100px;
}

.logo-customers {
  width: 130px;
  height: auto;
}

.logo-customers img {
  width: 100%;
}
#sezione-customers h6 {
  font-weight: bold;
}

/* sezione deploy */

#sezione-deploy, #sezione-deploy h5, #sezione-deploy h3, #sezione-deploy ul li a {
  font-weight: bold;
  color: #0c2454;
}

#sezione-deploy aside ul li a, #sezione-deploy p {
  opacity: 0.5;
}

#sezione-deploy aside ul li a {
  text-decoration: none;
}

#sezione-deploy aside ul li a:hover {
  color: #0c2454;
  opacity: 0.9;
}

#sezione-deploy aside {
  border-left: solid 1px #c3c3c3;
}

#sezione-deploy article {
  padding-bottom: 20px;
}

/* sezione designed */
#sezione-designed {
  background-color: #F3F5F9;
  padding: 50px 0;
}

#sezione-designed h3, #sezione-designed p, #contenitore-screen i, #contenitore-screen h6 {
  color: #0c2454;
  font-weight: bold;
}
#sezione-designed p, #contenitore-screen h6 {
  opacity: 0.8;
}

#contenitore-screen i {
  opacity: 0.6;
}

#contenitore-screen h6 {
  font-size: 15px;
}

#contenitore-screen i {
  vertical-align: middle;
}

#contenitore-screen i:hover {
  color: #0c2454;
  opacity: 0.9;
}

#sezione-designed p {
  padding-top: 10px;
}

#contenitore-screen {
  padding-top: 50px;
}

#contenitore-screen img {
  padding-bottom: 10px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {



}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* prima sezione */
  #sezione-uno {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sezione-uno h1 {
    font-size: 50px;
  }

  #sezione-uno p {
    font-size: 19px;
  }

  #dati h3, #dati h4 {
    font-size: 23px;
  }

  #dati button {
    padding: 5px 0;
  }

  /* sezione customers */
  #sezione-customers {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  /* sezione deploy */
  #sezione-deploy {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #blocco-aside-articoli {
    padding-top: 40px;
  }

  #sezione-deploy aside ul li {
    padding: 10px 0;
  }

  #sezione-deploy aside ul li a {
    font-size: 17px;
  }

  #sezione-deploy h3 {
    font-size: 27px;
  }

  #sezione-deploy .centratura p {
    font-size: 18px;
  }

  /* sezione designed */

  #contenitore-screen img {
    width: 500px;
    height: auto;
  }

  #contenitore-screen i {
    font-size: 30px;
    padding: 10px;
  }

}
