* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  text-align: center;
}


/* barra di navigazione */

header nav {
  padding: 5px;
}

ul li {
  list-style-type: none;
}

.navigazione {
  padding-left: 50px;
}

.navigazione ul li {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

.navigazione ul li, #logo img {
  padding-top: 5px;
}

#bottone-sign-up {
  padding-top: 0;
}

.navigazione ul li a {
  text-decoration: none;
  color: #0c2454;
  font-weight: bold;
}

.navigazione ul li a:hover {
  color: #0069ff;
}

#bottone-sign-up button {
  border: 1px solid #0069ff;
  border-radius: 3px;
  color: #0069ff;
  background: transparent;
  padding: 5px;
  font-weight: bold;
}

#bottone-sign-up button:hover {
  color: white;
  background-color: #0069ff;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0!important;
}

main {
  padding-top: 50px;
}

/* sezione uno */
#sezione-uno {
  background-image: url(img/sfondo-uno.jpg);
}

#sezione-uno h1 {
  color: white;
  font-weight: bold;
}

#sezione-uno p {
  color: #bbcdff;
}

/* parte dati sezione uno */
#dati {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

#dati h4 {
  color: #0069ff;
}

#dati h3, #dati h4, #dati h6 {
  font-weight: bold;
}

#dati button {
  width: 100%;
  font-size: 12px;
  border-radius: 3px;
}

#bottone-create button {
  color: white;
  background-color: #0069ff;
  border: #0069ff;
  margin-bottom: 5px;
}

#bottone-create button:hover {
  background-color: #1633FF;
}

#bottone-sign button {
  background-color: white;
}

#bottone-sign button:hover {
  background-color: #F4F4F5;
}

#bottone-sign img {
  float: left;
  width: 5%;
  margin-left: 1%;
}

#bottone-sign span {
  float: left;
  width: 87%;
}

#dati h6 {
  font-size: 11px;
}

#dati h6 span a {
  text-decoration: underline;
  color: #0069ff;
}

/* sezione customers */
#sezione-customers {
  background-color: #F3F5F9;
}

#sezione-customers h5 {
  color:  #555555;
  font-weight: bold;
  opacity: 0.6;
}

#loghini {
  line-height: 100px;
}

.logo-customers {
  width: 130px;
  height: auto;
}

.logo-customers img {
  width: 100%;
}

#sezione-customers h6 {
  font-weight: bold;
}

#sezione-customers h6 a {
  color: #0069ff;
}

/* sezione deploy */

#sezione-deploy, #sezione-deploy h5, #sezione-deploy h3, #sezione-deploy ul li a {
  font-weight: bold;
  color: #0c2454;
}

#sezione-deploy aside ul li a, #sezione-deploy p {
  opacity: 0.5;
}

#sezione-deploy aside ul li a {
  text-decoration: none;
}

#sezione-deploy aside ul li a:hover {
  color: #0c2454;
  opacity: 0.9;
}

#sezione-deploy aside {
  border-left: solid 1px #c3c3c3;
}

#sezione-deploy article {
  padding-bottom: 20px;
}

/* sezione designed */
#sezione-designed {
  background-color: #F3F5F9;
  padding: 50px 0;
}

#sezione-designed h3, #sezione-designed p, #contenitore-screen i, #contenitore-screen h6 {
  color: #0c2454;
  font-weight: bold;
}

#sezione-designed p, #contenitore-screen h6 {
  opacity: 0.8;
}

#contenitore-screen i {
  opacity: 0.6;
  vertical-align: middle;
}

#contenitore-screen h6 {
  font-size: 15px;
  opacity: 0.5;
}

#contenitore-screen i:hover {
  color: #0c2454;
  opacity: 0.9;
}

#sezione-designed p {
  padding-top: 10px;
  opacity: 0.5;
}

#contenitore-screen {
  padding-top: 50px;
}

#contenitore-screen img {
  padding-bottom: 10px;
}

#contenitore-screen .pallini i, #sezione-rockerbox .pallini i {
  font-size: 10px;
  font-weight: normal;
  color: #0069ff;
}


/* sezione features */

#sezione-features {
  padding: 50px 0;
}

#sezione-features, #sezione-features h5, #sezione-features h3 {
  font-weight: bold;
  color: #0c2454;
}

#sezione-features h3 {
  padding-bottom: 25px;
}

#sezione-features p {
  opacity: 0.5;
}

#sezione-features a {
  text-decoration: none;
  color: #0069ff;
}

/* sezione tabelle */

#sezione-tabelle {
  background-color: #031b4e;
  background-image: url('img/sfondo-due.svg');
  padding: 50px 0 25px 0;
}

#sezione-tabelle th, #sezione-tabelle h3 {
  color: white;
}

.table > tbody > .no-bordino > th, .table > tbody > .no-bordino > td {
  border-top: none;
}

.table > tbody > .bordo-chiaro > th, .table > tbody > .bordo-chiaro > td {
  border-top: solid 1px #f4f4f4;
}

.contenitore-tabelle {
  padding: 20px 0;
}

#sezione-tabelle .cella-grigia {
  color: #fff;
  opacity: 0.6;
}

.contenitore-tabelle tr td a {
  color: #00d7d2;
}

.contenitore-tabelle tr td a:hover {
  text-decoration: none;
  color:  #0069ff;
}


/* sezione rockerbox */
#sezione-rockerbox {
  background-color: #F3F5F9;
  padding: 50px 0;
  color: #0c2454;
}

#sezione-rockerbox h3 {
  padding-bottom: 30px;
}

#simil-screen {
  background-color: white;
  padding: 50px 0;
  display: inline-block;
}

#sezione-rockerbox h3, #simil-screen p, #nome {
  font-weight: bold;
}

#simil-screen p {
  padding-top: 20px;
  opacity: 0.5;
  font-size: 18px;
}

#simil-screen a {
  color: #0069ff;
  text-decoration: none;
}

#sezione-rockerbox i {
  font-size: 30px;
  vertical-align: middle;
}

#simil-screen i {
  font-size: initial;
}

#simil-screen footer {
  padding-bottom: 20px;
}

#sezione-rockerbox .pallini {
  padding-top: 20px;
}

#sezione-rockerbox .pallini i:hover {
  color: #0c2454;
}

/* sezione get started */
#get-start {
  background-image: url('img/sfondo-uno.jpg');
  padding: 50px 0;
}

#get-start h3 {
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}

#get-start button {
  background-color: white;
  padding: 10px 20px;
  font-weight: bold;
  color: #0069ff;
  border-radius: 5px;
  font-size: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {



}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* prima sezione */
  #sezione-uno {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sezione-uno h1 {
    font-size: 50px;
  }

  #sezione-uno p {
    font-size: 19px;
  }

  #dati h3, #dati h4 {
    font-size: 23px;
  }

  #dati button {
    padding: 5px 0;
  }

  /* corpo centrale */

  #sezione-deploy h3, #sezione-features h3, #sezione-designed h3, #sezione-tabelle h3, #sezione-rockerbox h3, #get-start h3 {
    font-size: 28px;
  }

  #sezione-deploy .centratura p, #sezione-designed p {
    font-size: 18px;
  }


  /* sezione customers */
  #sezione-customers {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  /* sezione deploy */
  #sezione-deploy {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #blocco-aside-articoli {
    padding-top: 40px;
  }

  #sezione-deploy aside ul li {
    padding: 10px 0;
  }

  #sezione-deploy aside ul li a {
    font-size: 17px;
  }

  /* sezione designed */

  #contenitore-screen img {
    width: 500px;
    height: auto;
  }

  #contenitore-screen i {
    font-size: 30px;
    padding: 10px;
  }

  /* sezione rockerbox */

  #simil-screen {
    width: 500px;
    height: auto;
  }

}
