* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  text-align: center;
}

/* barra di navigazione */

header nav {
  padding: 10px;
}

ul li {
  list-style-type: none;
}

.navigazione {
  padding-left: 50px;
  display: none;
}

.navigazione ul li {
  float: left;
  padding-right: 10px;
}

.navigazione ul li, #logo img {
  padding-top: 5px;
}

#logo img {
  width: 140px;
}

#bottone-sign-up {
  padding-top: 0;
}

.navigazione ul li a {
  text-decoration: none;
  color: #0c2454;
  font-weight: bold;
}

.navigazione ul li a:hover {
  color: #0069ff;
}

#bottone-sign-up button {
  border: 1px solid #0069ff;
  border-radius: 3px;
  color: #0069ff;
  background: transparent;
  padding: 5px;
  font-weight: bold;
}

#bottone-sign-up button:hover {
  color: white;
  background-color: #0069ff;
}

/* hamburgher menu */
#hamburgher {
  line-height: 50px;
}

#hamburgher button:first-child {
  background: transparent;
  border: none;
  color: #0069ff;
}

#hamburgher ul li a {
  color: #0069ff;
  font-weight: bold;
  padding: 5px;
}

.dropdown-menu #bottone-hamburgher button {
  border: 1px solid #0069ff;
  border-radius: 3px;
  background-color: #0069ff;
  color: white;
  font-weight: bold;
  width: 100%;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0!important;
}

main {
  padding-top: 55px;
}

/* sezione uno */
#sezione-uno {
  background-image: url(img/sfondo-uno.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
}

#sezione-uno h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

#sezione-uno p {
  color: #bbcdff;
  font-size: 15px;
}

/* parte dati sezione uno */
#dati {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

#dati h4 {
  color: #0069ff;
}

#dati h3, #dati h4 {
  font-size: 20px;
}

#dati h3, #dati h4, #dati h6 {
  font-weight: bold;
}

#dati button {
  width: 100%;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px 0;
}

#bottone-create button {
  color: white;
  background-color: #0069ff;
  border: #0069ff;
  margin-bottom: 5px;
}

#bottone-create button:hover {
  background-color: #1633FF;
}

#bottone-sign button {
  background-color: white;
}

#bottone-sign button:hover {
  background-color: #F4F4F5;
}

#bottone-sign img {
  float: left;
  width: 3%;
  margin-left: 1%;
}

#bottone-sign span {
  float: left;
  width: 92%;
}

#dati h6 {
  font-size: 9px;
}

#dati h6 span a {
  text-decoration: underline;
  color: #0069ff;
}

/* sezione customers */
#sezione-customers {
  background-color: #F3F5F9;
  padding-top: 25px;
  padding-bottom: 20px;
}

#sezione-customers h5 {
  color:  #555555;
  font-weight: bold;
  opacity: 0.6;
}

#loghini {
  line-height: 100px;
}

.logo-customers {
  width: 110px;
  height: auto;
}

.logo-customers img {
  width: 100%;
}

#sezione-customers h6 {
  font-weight: bold;
}

#sezione-customers h6 a {
  color: #0069ff;
}

/* elementi comuni */
#sezione-deploy h3, #sezione-features h3, #sezione-designed h3, #sezione-tabelle h3, #sezione-rockerbox h3, #get-start h3 {
  font-size: 25px;
}

#sezione-deploy .centratura p, #sezione-designed p {
  font-size: 15px;
}


/* sezione deploy */
#sezione-deploy {
  padding-top: 40px;
  padding-bottom: 30px;
}

#sezione-deploy, #sezione-deploy h5, #sezione-deploy h3, #sezione-deploy ul li a {
  font-weight: bold;
  color: #0c2454;
}
#blocco-aside-articoli {
  padding-top: 40px;
}

#sezione-deploy aside ul li {
  padding: 10px 0;
}

#sezione-deploy aside ul li a, #sezione-deploy p {
  opacity: 0.5;
}

#sezione-deploy aside ul li a {
  text-decoration: none;
  font-size: 15px;
}

#sezione-deploy aside ul li a:hover {
  color: #0c2454;
  opacity: 0.9;
}

#sezione-deploy aside {
  border-left: solid 1px #c3c3c3;
  margin-left: 10px;
  margin-bottom: 20px;
}

#sezione-deploy article {
  padding-bottom: 20px;
}

/* sezione designed */
#sezione-designed {
  background-color: #F3F5F9;
  padding: 50px 0;
}

#sezione-designed h3, #sezione-designed p, #contenitore-screen i, #contenitore-screen h6 {
  color: #0c2454;
  font-weight: bold;
}

#sezione-designed p {
  padding-top: 10px;
  opacity: 0.5;
}

#contenitore-screen {
  padding-top: 50px;
}

#contenitore-screen h6 {
  font-size: 13px;
  opacity: 0.5;
}

#contenitore-screen i {
  vertical-align: middle;
}

#contenitore-screen .fa-chevron-left:hover, #contenitore-screen .fa-chevron-right:hover {
  opacity: 0.5;
}

#contenitore-screen .fa-chevron-left, #contenitore-screen .fa-chevron-right {
  font-size: 20px;
  padding: 10px;
}

.pallini {
  display: none;
}

#contenitore-screen img {
  padding-bottom: 10px;
  width: 300px;
  height: auto;
}

/* sezione features */
#sezione-features {
  padding: 50px 0;
}

#sezione-features article {
  padding-bottom: 20px;
}

#sezione-features, #sezione-features h5, #sezione-features h3 {
  font-weight: bold;
  color: #0c2454;
}

#sezione-features h3 {
  padding-bottom: 25px;
}

#sezione-features p {
  opacity: 0.5;
}

#sezione-features a {
  text-decoration: none;
  color: #0069ff;
}

/* sezione tabelle */
#sezione-tabelle {
  background-color: #031b4e;
  background-image: url('img/sfondo-due.svg');
  padding: 50px 0 25px 0;
}

#sezione-tabelle th, #sezione-tabelle h3 {
  color: white;
}

.table > tbody > .no-bordino > th, .table > tbody > .no-bordino > td {
  border-top: none;
}

.table > tbody > .bordo-chiaro > th, .table > tbody > .bordo-chiaro > td {
  border-top: solid 1px #f4f4f4;
}

.contenitore-tabelle {
  padding: 20px 0;
}

#sezione-tabelle .cella-grigia {
  color: #fff;
  opacity: 0.6;
}

.contenitore-tabelle tr td a {
  color: #00d7d2;
}

.contenitore-tabelle tr td a:hover {
  text-decoration: none;
  color:  #0069ff;
}


/* sezione rockerbox */
#sezione-rockerbox {
  background-color: #F3F5F9;
  padding: 50px 0;
  color: #0c2454;
}

#sezione-rockerbox h3 {
  padding-bottom: 30px;
}

#simil-screen {
  background-color: white;
  padding: 50px 0;
  display: inline-block;
  width: 300px;
  height: auto;
}

#sezione-rockerbox h3, #simil-screen p, #nome {
  font-weight: bold;
}

#simil-screen p {
  padding-top: 20px;
  opacity: 0.5;
  font-size: 15px;
}

#simil-screen a {
  color: #0069ff;
  text-decoration: none;
}

#sezione-rockerbox .fa-chevron-left, #sezione-rockerbox .fa-chevron-right {
  font-size: 20px;
  vertical-align: middle;
}

#sezione-rockerbox .fa-chevron-left:hover, #sezione-rockerbox .fa-chevron-right:hover {
  opacity: 0.5;
}

#simil-screen i {
  vertical-align: middle;
}

#simil-screen footer {
  padding-bottom: 20px;
}

/* sezione get started */
#get-start {
  background-image: url('img/sfondo-uno.jpg');
  padding: 50px 0;
}

#get-start h3 {
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}

#get-start button {
  background-color: white;
  padding: 10px 20px;
  font-weight: bold;
  color: #0069ff;
  border-radius: 5px;
  font-size: 13px;
}

#get-started button:hover {
  color: #CDD6F6;
}

/* piè di pagina */

#piè-di-pg {
  padding: 50px 0;
  background-color: #0c2454;
}

#copywrite h5, #loghi-social i, .liste-piè ul li a {
  color: #fff;
  opacity: 0.5;
}

#copywrite h6 {
  color: #fff;
  opacity: 0.3;
  font-size: 12px;
}

#loghi-social {
  padding-top: 10px;
}

#loghi-social i {
  padding-right: 5px;
  font-size: 15px;
  padding-bottom: 15px;
}

#loghi-social a i:hover, .liste-piè ul li a:hover {
  opacity: 2;
}

.liste-piè h5 {
  color: #fff;
  font-weight: bold;
}

.liste-piè ul li {
  padding-bottom: 10px;
}

.liste-piè ul li a {
  text-decoration: none;
}

.liste-piè ul li:hover {
  color: white;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* sezione uno */
  #sezione-uno h1 {
    font-size: 45px;
  }

  #sezione-uno p {
    font-size: 17px;
  }

  /* parte dati sezione uno */
  #dati button {
    font-size: 12px;
  }

  #dati h6 {
    font-size: 11px;
  }

  #dati h3, #dati h4 {
    font-size: 23px;
  }

  /* elementi comuni sezioni */
  #sezione-deploy h3, #sezione-features h3, #sezione-designed h3, #sezione-tabelle h3, #sezione-rockerbox h3, #get-start h3 {
    font-size: 28px;
  }

  #sezione-deploy .centratura p, #sezione-designed p {
    font-size: 18px;
  }

  /* sezione deploy */
  #sezione-deploy aside ul li a {
    font-size: 18px;
  }

  /* sezione customers */
  .logo-customers {
    width: 130px;
    height: auto;
  }

  /* sezione designe */
  #contenitore-screen h6 {
    font-size: 15px;
  }

  #contenitore-screen img {
    width: 400px;
    height: auto;
  }

  /* sezione rockerbox */
  #simil-screen {
    width: 400px;
    height: auto;
  }

  #simil-screen p {
    font-size: 18px;
  }

  #sezione-rockerbox .fa-chevron-left, #sezione-rockerbox .fa-chevron-right {
    font-size: 20px;
  }

  /* sezione get started */
  #get-start button {
    font-size: 15px;
  }

  /* piè di pagina */
  #copywrite h6 {
    font-size: 14px;
  }

  #loghi-social i {
    font-size: 20px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* sezione uno */
  #sezione-uno h1 {
    font-size: 50px;
  }

  #sezione-uno p {
    font-size: 19px;
  }

  #bottone-sign img {
    width: 5%;
    margin-left: 1%;
  }

  #bottone-sign span {
    float: left;
    width: 87%;
  }

  /* sezione designe */
  .pallini {
    display: block;
  }

  #contenitore-screen img {
    width: 500px;
    height: auto;
  }

  #contenitore-screen .pallini i {
    font-size: 10px;
    font-weight: normal;
    color: #0069ff;
    opacity: 0.6;
    padding: 10px;
  }

  #contenitore-screen .pallini i:hover {
    opacity: 1;
  }

  #contenitore-screen .fa-chevron-left, #contenitore-screen .fa-chevron-right {
    font-size: 30px;
  }

  /* sezione rockerbox */

  #simil-screen {
    width: 500px;
    height: auto;
  }

  #sezione-rockerbox .pallini {
    padding-top: 10px;
  }

  #sezione-rockerbox .pallini i {
    padding: 10px;
    font-size: 10px;
    font-weight: normal;
    color: #0069ff;
    opacity: 0.6;
    padding: 10px;
  }

  #sezione-rockerbox .pallini i:hover {
    color: #0069ff;
    opacity: 1;
  }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* prima sezione */
  .navigazione {
    display: block;
  }

  #hamburgher {
    display: none;
  }

}
